   
    .text_align{
    	text-align: justify;
    }

    .fixed-top {
	  position: fixed;
	  top: -5px;
	  right: 0;
	  left: 0;
	  margin-bottom: -1px
	  
}
dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;

}

.al{
	background-color: rgb(208, 204, 204);
	padding: 30px;
	
}

div.al li{
	padding-left: 2em;
	padding-top:1em;
}
li{
	padding-top: 1em
}
.nav-item{
	padding-left:1em;

}
.context-menu {cursor: pointer;}

.im{
	color:white;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #00afef;

}
.footer{
	--tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity));
}


.dc{
	position: relative;
}